apiVersion: v1
imagePullSecrets:
  - name: ghcr
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs
---
apiVersion: v1
data:
  servicesConfig.yaml: |
    hat:       "http://podtato-head-app-gitops-promoter-qs-hat:9001"
    left-leg:  "http://podtato-head-app-gitops-promoter-qs-left-leg:9002"
    left-arm:  "http://podtato-head-app-gitops-promoter-qs-left-arm:9003"
    right-leg: "http://podtato-head-app-gitops-promoter-qs-right-leg:9004"
    right-arm: "http://podtato-head-app-gitops-promoter-qs-right-arm:9005"
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-service-discovery
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-service-discovery
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-entry
spec:
  ports:
    - name: http
      port: 9000
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/name: podtato-head
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-hat
spec:
  ports:
    - name: http
      port: 9001
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/name: podtato-head
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-left-arm
spec:
  ports:
    - name: http
      port: 9003
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/name: podtato-head
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-left-leg
spec:
  ports:
    - name: http
      port: 9002
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/name: podtato-head
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-right-arm
spec:
  ports:
    - name: http
      port: 9005
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/name: podtato-head
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-right-leg
spec:
  ports:
    - name: http
      port: 9004
      protocol: TCP
      targetPort: http
  selector:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/name: podtato-head
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-entry
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
  template:
    metadata:
      labels:
        app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
        app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
        app.kubernetes.io/name: podtato-head
    spec:
      containers:
        - env:
            - name: SERVICES_CONFIG_FILE_PATH
              value: /config/servicesConfig.yaml
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: ghcr.io/dirien/podtato-head/entry:kargo
          imagePullPolicy: Always
          livenessProbe:
            httpGet:
              path: /
              port: http
          name: podtato-head-app-gitops-promoter-qs-entry
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /
              port: http
          resources: {}
          securityContext: {}
          volumeMounts:
            - mountPath: /config
              name: service-discovery-map
      securityContext: {}
      serviceAccountName: podtato-head-app-gitops-promoter-qs
      terminationGracePeriodSeconds: 5
      volumes:
        - configMap:
            name: podtato-head-app-gitops-promoter-qs-service-discovery
          name: service-discovery-map
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-hat
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
  template:
    metadata:
      labels:
        app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
        app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
        app.kubernetes.io/name: podtato-head
    spec:
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: ghcr.io/dirien/podtato-head/hat:kargo
          imagePullPolicy: Always
          name: podtato-head-app-gitops-promoter-qs-hat
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          resources: {}
          securityContext: {}
      securityContext: {}
      serviceAccountName: podtato-head-app-gitops-promoter-qs
      terminationGracePeriodSeconds: 5
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-left-arm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
  template:
    metadata:
      labels:
        app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
        app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
        app.kubernetes.io/name: podtato-head
    spec:
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: ghcr.io/dirien/podtato-head/left-arm:kargo
          imagePullPolicy: Always
          name: podtato-head-app-gitops-promoter-qs-left-arm
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          resources: {}
          securityContext: {}
      securityContext: {}
      serviceAccountName: podtato-head-app-gitops-promoter-qs
      terminationGracePeriodSeconds: 5
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-left-leg
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
  template:
    metadata:
      labels:
        app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
        app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
        app.kubernetes.io/name: podtato-head
    spec:
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: ghcr.io/dirien/podtato-head/left-leg:kargo
          imagePullPolicy: Always
          name: podtato-head-app-gitops-promoter-qs-left-leg
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          resources: {}
          securityContext: {}
      securityContext: {}
      serviceAccountName: podtato-head-app-gitops-promoter-qs
      terminationGracePeriodSeconds: 5
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-right-arm
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
  template:
    metadata:
      labels:
        app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
        app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
        app.kubernetes.io/name: podtato-head
    spec:
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: ghcr.io/dirien/podtato-head/right-arm:kargo
          imagePullPolicy: Always
          name: podtato-head-app-gitops-promoter-qs-right-arm
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          resources: {}
          securityContext: {}
      securityContext: {}
      serviceAccountName: podtato-head-app-gitops-promoter-qs
      terminationGracePeriodSeconds: 5
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-right-leg
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
  template:
    metadata:
      labels:
        app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
        app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
        app.kubernetes.io/name: podtato-head
    spec:
      containers:
        - env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          image: ghcr.io/dirien/podtato-head/right-leg:kargo
          imagePullPolicy: Always
          name: podtato-head-app-gitops-promoter-qs-right-leg
          ports:
            - containerPort: 9000
              name: http
              protocol: TCP
          resources: {}
          securityContext: {}
      securityContext: {}
      serviceAccountName: podtato-head-app-gitops-promoter-qs
      terminationGracePeriodSeconds: 5
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-entry
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-entry
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-hat
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-hat
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-left-arm
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-arm
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-left-leg
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-left-leg
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-right-arm
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-arm
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-right-leg
spec:
  endpoints:
    - interval: 30s
      path: /metrics
      port: http
  selector:
    matchLabels:
      app.kubernetes.io/component: podtato-head-app-gitops-promoter-qs-right-leg
      app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
      app.kubernetes.io/name: podtato-head
---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    helm.sh/hook: test
  labels:
    app.kubernetes.io/instance: podtato-head-app-gitops-promoter-qs
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: podtato-head
    app.kubernetes.io/version: 0.2.7
    helm.sh/chart: podtato-head-0.2.7
  name: podtato-head-app-gitops-promoter-qs-test-connection
spec:
  containers:
    - args:
        - podtato-entry:9000
      command:
        - wget
      image: busybox
      name: wget
  restartPolicy: Never
